<div class= "container-headline">
    <h1>Editing Deal</h1>
</div>

<%= render 'form', deal: @deal %>
<div class= "container-body">
<%= link_to 'Show', @deal %>
</div>

<div class= "container-body">
<%= link_to 'Back', deals_path %>
</div>