/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    padding: 0;
    margin: 0;
}
 
.header {
    overflow: hidden;
    background-color: #DA904B;
}

.header .logo {

}

.header nav {
    /* float: left; */
    width: 100%;
    display: flex;
    color: #F5CD73;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

.header-right {
    /* float: right; */
    align-self: flex-end;
}
    
.footer-container {
    align-self: flex-end;
    height: 42px;
    width: 100%;
    background-color: #DA904B;
}
    
body {
    background-color: #F5CD73;
}