/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
    margin: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: auto;
    font-family: 'Days One', sans-serif;
}

.header {
    height: 70px;
    width: 100%;
    background-color: #DA904B;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 18px; 
    line-height: 25px;
}

.header-right {
    margin-right: 10px;
}

.header-left {
    margin-left: 10px;
}

.content {
    flex-wrap: wrap;
    background-color: #F5CD73;
    flex: 1;
    overflow: scroll;
    height: 50vh;
    justify-content: center;
}

    
.footer-container {
    /*align-self: flex-end;*/
    margin: auto auto 0 auto;
    height: 42px;
    width: 100%;
    background-color: #DA904B;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-headline {
    display: flex;
    justify-content: center;
}

.container-body {
    display: flex;
    justify-content: center;
}


.find-voucher{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 50px;
}