// Place all the styles related to the Merchants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.merchant-submit input[type=submit] {
    background-color: #D55543;
    border: none;
    color: #F5CD73;
    padding: 20px 10px;
    text-decoration: none;
    margin: 4px 2px;
    margin-left: 120px;
    cursor: pointer;
    border-radius: 50%;
    align-content: center;
}